body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #38B6FF;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --box1-color: #3A3B3C;
}

.searchbar {
    height: 5vh;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    width: 30vh;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

#addUserRow td button {
    margin-right: 5px; 
}
.searchbar:hover input {
    width: 400px;
}

.searchbar input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.searchbar ion-icon {
    color: black;
    font-size: 20px;
}

.user-actions {
    position: relative;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.three-dots {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#addUserBtn {
    position: absolute;
    right: 15%;
    background-color: #08a1e7;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 0px;
    cursor: pointer;
}


.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.home-content-add .container-table button {
    width: 100px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: var(--body-color);
}

.home-content-add .container-table {
    border-collapse: collapse;
    width: 1123px;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-table {
    table-layout: fixed;
    width: 1200px;
}

.home-content-add .container-table th {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid #ccc;
}

.container-table tr:nth-child(even) td {
    background-color: var(--primary-color-light);
    color: var(--text-color);
}

.container-table tr:nth-child(odd) td {
    color: var(--text-color);
}

.container-table tr:hover td {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}


.container-table td {
    background-color: var(--sidebar-color);
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.container-table button:hover{
    background-color: var(--sidebar-color);
    color: var(--text-color)
}


.container-table th, .container-table td {
    width: auto; 
}

.container-table th:nth-child(1),
.container-table td:nth-child(1) {
    width: 20%; 
}

.container-table th:nth-child(2),
.container-table td:nth-child(2) {
    width: 20%; 
}

.container-table th:nth-child(3),
.container-table td:nth-child(3) {
    width: 20%; 
}

.container-table th:nth-child(4),
.container-table td:nth-child(4) {
    width: 150px;
}

.container-table th:nth-child(5),
.container-table td:nth-child(5) {
    width: 150px;
}

.container-table th:nth-child(6),
.container-table td:nth-child(6) {
    min-width: 260px; 
}