.wrapper, .seqOrder{
	width: 95%;
	background: var(--sidebar-color);
	border-radius: 20px;
	padding: 30px;
	box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
	margin: 0 auto;
}

.wrapper form {
	display: flex;
	cursor: pointer;
	margin: 30px 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
	margin-bottom: 10px;
}

.file-upload {
	border: 2px dashed var(--box1-color);
	width: 90%;
	border-radius: 7px;
	text-align: center;
	padding-top: 30px;
}

form :where(ion-icon, p) {
	color: var(--primary-color);
}

form ion-icon {
	font-size: 50px;
}

form p {
	margin-top: 15px;
	font-size: 16px;
	text-align: center;
}

section .row {
	margin-bottom: 10px;
	background: #E9F0FF;
	list-style: none;
	padding: 15px 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section .row ion-icon {
	color: var(--primary-color);
	font-size: 30px;
}

section .details span {
	font-size: 14px;
}

.progress-area .row .content {
	width: 100%;
	margin-left: 15px;
}

.progress-area .details {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
	justify-content: space-between;
}

.progress-area .content .progress-bar {
	height: 6px;
	width: 100%;
	margin-bottom: 4px;
	background: var(--sidebar-color);
	border-radius: 30px;
}

.content .progress-bar .progress {
	height: 100%;
	width: 0%;
	background: var(--primary-color);
	border-radius: inherit;
}

.uploaded-area {
	max-height: 232px;
	overflow-y: scroll;
}

.uploaded-area.onprogress {
	max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
	width: 0px;
}

.uploaded-area .row .content {
	display: flex;
	align-items: center;
}

.uploaded-area .row .details {
	display: flex;
	margin-left: 15px;
	flex-direction: column;
}

.uploaded-area .row .details .size {
	color: #404040;
	font-size: 11px;
}

.uploaded-area ion-icon.fa-check {
	font-size: 16px;
}

.sequenceTitle {
	color: var(--primary-color);
}

.circle-container {
	align-items: center;
}

.seq {
	display: flex;
}

.circle {
	display: flex;
	width: 35px;
	height: 35px;
	background-color: var(--box1-color);
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	margin: 10px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	margin-top: 15px;
}

.line {
	border: 1px dashed var(--box1-color);
	height: 30px;
	margin: 0 23px;
}

.dropdown {
	display: flex;
	margin: 10px;
}

.table tr td :nth-child(2) {
	border-collapse: collapse;
	table-layout: fixed;
	width: 10%;
}

.office-select {
	border-collapse: collapse;
	color: var(--text-color);
	table-layout: fixed;
	height: 50px;
	width: 100%;
    background-color: var(--box1-color);
	text-align: center;
	border-radius: 5px;
	margin-top: 14px;
}

.reviewer-dropdown {
	border-collapse: collapse;
	color: var(--text-color);
	table-layout: fixed;
	height: 50px;
	width: 100%;
    background-color: var(--box1-color);
	text-align: center;
	border-radius: 5px;
	margin-top: 14px;
}

.table thead tr th {
	text-align: center;
	color: var(--text-color);
	background-color: var(--sidebar-color);
}

.table td {
	color: var(--text-color);
	background-color: var(--sidebar-color);
}

.table tbody {
  background-color: var(--sidebar-color);
}

option {
	color: var(--text-color);
	background-color: var(--sidebar-color);
}

  @media only screen and (max-width: 767px) {
	/* .table, .office-select, .reviewer-dropdown {
		border-collapse: collapse;
		table-layout: fixed;
		margin-left: 0;
		width: 100%;
	} */

	/* .office-select, .reviewer-dropdown {
		margin-left: 0;
		width: 190px;
		height: 50px;
	} */
  }

  
  form button[type="submit"] {
	background-color: var(--primary-color);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 150px;
	height: 50px;
	margin-top: 20px;
  }

.seqOrder {
	margin-top: 50px;
}

footer {
	color: var(--text-color);
}