* {
	font-family: 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--body-color: #E4E9F7;
	--sidebar-color: #FFF;
	--primary-color: #38B6FF;
	--primary-color-light: #F6F5FF;
	--toggle-color: #DDDD;
	--text-color: #707070;
	--box1-color: #4DA3FF;

	--tran-02: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 0.5s ease;
}

/* PROGRESS BAR*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.label {
    margin: 0;
    display: inline-block;
    top: 140px;
    position: absolute;
}

.label p {
    display: inline-block;
}

#t-info {
    color: #22D6F7;
}

#p-info {
    margin-left: 300px;
}

#pa-info {
    margin-left: 220px;
}

#s-info {
    margin-left: 300px;
}

.container .steps {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    color: var(--toggle-color);
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    background: var(--primary-color-light);
    border: 4px solid var(--sidebar-color);
    transition: all 200ms ease;
    transition-delay: 0s;
    z-index: 1;
}

.steps .circle-approved {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    color: var(--toggle-color);
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    background: green;
    border: 4px solid var(--sidebar-color);
    transition: all 200ms ease;
    transition-delay: 0s;
    z-index: 1;
    transition-delay: 100ms;
}

.steps .circle-pending {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    background: rgb(255, 229, 79);
    border: 4px solid var(--sidebar-color);
    transition: all 200ms ease;
    transition-delay: 0s;
    z-index: 1;
    transition-delay: 100ms;
}

.steps .circle-disapproved{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    color: var(--toggle-color);
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    background: red;
    border: 4px solid var(--sidebar-color);
    transition: all 200ms ease;
    transition-delay: 0s;
    z-index: 1;
    transition-delay: 100ms;
}

.steps .progress-bar {
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--sidebar-color);
    /* z-index: 0; */
}

.progress-bar .indicator {
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--box1-color);
    transition: all 300ms ease;
    /* z-index: 1; */
}
/*PROGRESS BAR ENDS HERE*/

/* MAIN CONTENT HERE */
.content {
    height: 400px;
}

.content img {
    margin-top: 80px;
    margin-bottom: 30px;
    height: 120px;
}

.content h3 {
    padding-top: 20px;
    text-transform: uppercase;
    color: var(--primary-color)
}

.content p {
    color: var(--text-color);
    margin: 10px;
}

.file-input {
    color: var(--text-color);
    margin-left: 164px;
    margin-top: 100px;
}

/* FORMS */
.wrapper {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper form{
    display: flex;
    margin: 20px 0;
    align-items: center;
    margin-left:100px;
    margin-right: 100px;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed var(--primary-color);
}
form :where(ion-icon, p){
    color: var(--primary-color);    
}
form ion-icon{
    position: relative;
    right: 4px;
    top: 7px;
    font-size: 70px;
    padding: 10px;
}
form p{
    margin-top: 15px;
    font-size: 16px;
}

.wrapper iframe{
    width: 100%;
    height: 750px;
}


/* CONTENT CONTAINER */
.content button {
    width: 150px;
    height: 35px;
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    border: none;
    border-radius: 10px;
    margin-top: -2px;
    margin-bottom: 10px;
    cursor: pointer;
}
.content {
    margin: 20px 100px 0 100px;
    background-color: var(--primary-color-light);
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}

.right-container {
    width: 69%;
    float: right;
    background-color: var(--primary-color-light);
    border-radius: 0 10px 10px 0;
    height: 1200px;
    margin-bottom: 20px;
}

/* RADIO BUTTONS */
.left-container {
    width: 30.9%;
    float: left;
    height: 95%;
    background-color: var(--primary-color-light);
	border-radius: 20px;
    margin-bottom: 20px;
}

.left-container {
	background-color: var(--primary-color-light);
    border-bottom: 1px solid #DDDDDD;
	border-radius: 10px 0 0 10px;
	color: var(--text-color);
	font-size: 12px;
	left: -1px;
	padding: 10px 0 7px 5px;
	height:1200px;
	overflow-y: auto;
}

input[type="radio"] {
	display: none;
	outline: none;
	overflow: scroll;
}

input[type="radio"]:checked + label {
	background-color: var(--primary-color);
	color: var(--primary-color-light)
}

label {
	display: block;
	padding: 10px 20px;
	border: 1px solid #ccc;
	cursor: pointer;
}

footer {
    color: var(--text-color);
}